<div class="foot">
  <div class="foot-content">
    <div>
      <span class="mr-2">Copyright &copy; 2018</span>
      <a class="mr-2" href="https://www.reeltimecoaching.com/privacy"
        >Privacy Policy</a
      >
      <a class="mr-2" href="https://www.reeltimecoaching.com/terms"
        >Terms of Service</a
      >
      <div class="float-right">
        <a href="https://www.facebook.com/ReelTimeCoaching/" class="fb">
          <i class="fa fa-facebook-f" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/reeltimecoach" class="tw">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/reeltimecoaching/" class="insta">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UCkpOPnTxhZLbhGIMRiYbJDQ"
          class="yt"
        >
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
