<div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="backgrounImg" style="background-image: url('../../assets/img/bb.jpeg'); background-size: cover;"></div>
      </div>
      <div class="carousel-item">
        <div class="backgrounImg" style="background-image: url('../../assets/img/baseball.jpeg'); background-size: cover;"></div>
      </div>
      <div class="carousel-item">
        <div class="backgrounImg" style="background-image: url('../../assets/img/football.jpeg');background-size: cover;"></div>
      </div>
    </div>
  </div>
</div>