<div>
  <div class="login-block-center">
    <div class="display-table w-100 h-100">
      <div class="display-table-cell">
        <div class="row rtc-p-30 rtc-form-container">
          <div class="col-12 p-0">
            <span class="rtc-title">Change Password</span>
          </div>
          <form class="rtc-w100pr" #loginForm="ngForm">
            <div class="col-12 p-0">
              <mat-form-field class="example-full-width rtc-w100pr">
                <mat-placeholder class="">Current Password</mat-placeholder>
                <input [(ngModel)]='currentPass' name="password" class="" id='currentpass' #regPass matInput [type]="hide1 ? 'password' : 'text'"
                  required>
                <span class='rtc-cp' [ngClass]="hide1 ? 'hide-icon' : 'show-icon'" matSuffix (click)="hide1 = !hide1"></span>
              </mat-form-field>
            </div>
            <div class="col-12 p-0">
              <mat-form-field class="example-full-width rtc-w100pr">
                <mat-placeholder class="">New Password</mat-placeholder>
                <input [(ngModel)]='newPass' name="password" class="" id='newpass' #regPass matInput [type]="hide2 ? 'password' : 'text'"
                  required>
                <span class='rtc-cp' [ngClass]="hide2 ? 'hide-icon' : 'show-icon'" matSuffix (click)="hide2 = !hide2"></span>
              </mat-form-field>
            </div>
            <div class="col-12 p-0">
              <mat-form-field class="example-full-width rtc-w100pr">
                <mat-placeholder class="">Confirm New Password</mat-placeholder>
                <input [(ngModel)]='confirmPass' name="password" class="" id='confirmpass' #regPass matInput [type]="hide3 ? 'password' : 'text'"
                  required>
                <span class='rtc-cp' [ngClass]="hide3 ? 'hide-icon' : 'show-icon'" matSuffix (click)="hide3 = !hide3"></span>
              </mat-form-field>
            </div>
            <div class="col-12 p-0">
              <button class="rtc-btn login-btn rtc-w100pr" (click)="onFormSubmit()" [disabled]="!loginForm.form.valid" [ngClass]="{'sucess': loginForm.form.valid}">
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>