<div>
  <div class="forget-block-center">
    <div class="display-table w-100 h-100">
      <div class="display-table-cell">
        <div class="form">
          <div class="form-title">
            Forgot Password
          </div>
          <form class="details-form" (ngSubmit)="onFormSubmit(forgotForm)" #forgotForm="ngForm">
            <span>
              <input placeholder="Email" [(ngModel)]="mail" name="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required minlength="4"
                id="email" type="text">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <button [disabled]="!forgotForm.form.valid" [ngClass]="{'sucess': forgotForm.form.valid}">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-carousel></app-carousel>
</div>